<div class="space-y-4">
    <p class="text-2xl text-center">Lista zadań</p>
    <div class="bg-gray-300 w-full p-3 border border-gray-400 rounded-xl shadow-lg space-y-3">

  <div class="flex items-center gap-2">
    <input 
      type="checkbox"
      #allCheck
      (change)="toggleAll(allCheck.checked)"
      id="toggle-all"
      class="size-4"
    >
    <label for="toggle-all" class="font-semibold ">
      Zaznacz wszystkie zadania
    </label>
  </div>
  <button 
    (click)="onDeleteCompleted()"
    [disabled]="completedCount() === 0 "
    
    class="bg-red-500 hover:bg-red-600 text-white text-sm font-semibold py-2 px-4 rounded-lg transition-all shadow-md  disabled:bg-red-400">
    Usuń zakończone zadania
  </button>
  <div class="flex flex-col gap-1">
    <p class="font-semibold">Sortuj</p>
    <select 
      class="w-full p-2 border border-gray-400 rounded-lg bg-white"
      (change)="onFilterChange($event)"
    >
      <option value="all">Wszystkie</option>
      <option value="completed">Zakończone</option>
      <option value="incomplete">Niezakończone</option>
      <option value="date-asc">Data zakończenia: od najbliższej</option>
      <option value="date-desc">Data zakończenia: od najdalszej</option>
      <option value="low">Priorytet niski</option>
      <option value="medium">Priorytet średni</option>
      <option value="high">Priorytet wysoki</option>
    </select>
    
  </div>
  <div>
    <p class="font-semibold">Szukaj zadań </p>
    <input 
    type="text"
    #searchInput
    (input)="onSearchChange($event)"   
     placeholder="Szukaj zadań..." 
    class="w-full pl-10 pr-4 py-2 border border-gray-400 bg-white rounded-xl focus:ring-2 focus:ring-blue-500 outline-none shadow-sm"
    />
  </div>
  <div class="flex justify-between px-2 text-sm font-medium text-gray-600">
  <span>Zakończone: <b class="text-green-600"> {{completedCount()}} </b></span>
  <span>Do zrobienia: <b class="text-blue-600"> {{notCompletedCount()}}</b></span>
</div>
</div>
  
    @for (todo of todoService.filteredTodos(); track todo.id) {
      <div class="p-1 bg-gray-300 rounded-xl shadow-lg mb-2">
      <app-todo-item
        [todo]="todo"

        (toggle)="toggle.emit($event)">
      </app-todo-item>
    </div>
  } @empty {
    <p class="text-center font-bold">Brak zadań na liście.</p>
  }
</div>
