<div class="space-y-4">
    <p class="text-2xl text-center">Lista zadań</p>
    <p class="text-center  ">Sortuj</p>
    <select class="w-full p-2 border border-gray-300 rounded-lg" (change)="onFilterChange($event)">
        <option value="all">Wszystkie</option>
        <option value="completed">Zakończone</option>
        <option value="incompleted">Niezakończone</option>
    </select>
  @for (todo of todos; track todo.id) { 
    <div class="p-1 bg-gray-300 rounded-xl shadow-lg mb-2">
      <app-todo-item
        [todo]="todo"
        (delete)="delete.emit($event)"
        (edit)="edit.emit($event)"
        (toggle)="toggle.emit($event)">
      </app-todo-item>
    </div>
  } @empty {
    <p class="text-center">Brak zadań na liście.</p>
  }
</div>