<form  *ngIf="todo">
<div class="max-w-2xl mx-auto mt-10 p-12 bg-gray-300 border-gray-800 shadow-lg rounded-xl space-y-6">
  <h3 class="text-4xl font-bold text-center text-gray-800">Edytujesz zadanie</h3>
  <div>
    <label for="description" class="block text-lg font-semibold text-gray-900">Zadanie:</label>
    <input name="title" [(ngModel)]="todo.title" class="w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 outline-none " />
  </div>
  <div>
    <label for="description" class="block text-lg font-semibold text-gray-900">Opis:</label>
    <textarea name="description" [(ngModel)]="todo.description" class="w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 outline-none "></textarea>
  </div>
  <div>
    <Label>Data zakończenia</Label>
    <input type="date" name="dueDate" [(ngModel)]="todo.dueDate" class="w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 outline-none"/>
  </div>
  <div class="flex gap-4 mt-4">
  <div>
    <label class="block text-lg font-semibold text-gray-900">Priorytet</label>
    <select name="priority" [(ngModel)]="todo.priority" 
    class="p-2 border border-gray-500 rounded-lg">
      <option value="low">Niski</option>
      <option value="medium">Średni</option>
      <option value="high">wysoki</option>
    </select>
  </div>
    <button class="bg-green-600 text-white px-4 py-2 rounded" (click)="onSave()">
      Zapisz
    </button>
    

    <button class="bg-red-600 text-white px-4 py-2 rounded" (click)="onCancel()">
      Anuluj
    </button>
  </div>
  
</div>
</form>