<form #todoForm="ngForm" (ngSubmit)="submit(todoForm)" class="p-6 bg-gray-300 rounded-xl shadow-lg space-y-4">
  
  <div >
    <label for="title" class="block text-lg font-semibold text-gray-900">Zadanie:</label>
    <input
      required
      name="title"
      [(ngModel)]="title"
      #titleField="ngModel"
      type="text"
      id="title"
      class="w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 outline-none"
      [class.border-red-500]="titleField.invalid && titleField.touched"
      [class.border-gray-300]="!(titleField.invalid && titleField.touched)"
    />
    @if(titleField.invalid && titleField.touched){
      <span>
        Niepoprawna nazwa zadania!
      </span>
    }
  </div>

  <div>
    <label for="description" class="block text-lg font-semibold text-gray-900">Opis:</label>
    <textarea
      name="description"
      [(ngModel)]="description"
      id="description"
      rows="2"
      class="w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 outline-none "
    ></textarea>
  </div>

  <button
    type="submit"
    [disabled]="todoForm.invalid"
    class="w-full py-2 bg-gray-600 text-white font-semibold rounded-lg hover:bg-gray-700 transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed"
  >
    Dodaj
  </button>
  

</form>