<div class="">
    <h3>Zadanie: {{ todo.title }}</h3>
    <p>Opis: {{ todo.description }}</p>
    <p>Status: {{ todo.isCompleted ? 'Zakończone' : 'Niezakończone' }}</p>
    <input type="checkbox"  [(ngModel)]="todo.isCompleted" class="size-5">
    <button (click)="onEdit()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-lg">Edit</button>
    <button (click)="onDelete()" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg">Delete</button>
    
</div>
