
<div  [ngClass]="getclasses(todo)" class=" p-6 rounded-xl shadow-lg space-y-4">
    @if(getStatus(todo)=== 'upcoming'){
        <p class="font-semibold">Zbliża się termin wykonania zadania !</p>
    }
    @if(getStatus(todo) === 'expired'){
        <p class="font-semibold">Termin minał !</p>
    }
    
    <button (click)="onToggleComplete()  " >Zadanie: {{ todo.title }}</button>
    @if (todo.description) {
        <p>Opis: {{ todo.description }}</p>
    }
    <p>Data zakończenia: {{todo.dueDate | date:'dd.MM.yyyy' }}</p>
    <p>Priorytet: {{todo.priority}}</p>
    <p>Status: {{ todo.completed ? 'Zakończone' : 'Niezakończone' }}</p>
    <input type="checkbox" 
        [checked]="todo.completed" 
        (change)="onToggleComplete()" 
        class="size-5">    
    <button [routerLink]="['/edit',todo.id]" class="bg-yellow-400 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-lg">Edit</button>
    <button (click)="deleteitem()" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg ">Delete </button>
       
</div>
